*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body {
    background: url(login.jpg);
    /* background-image: linear-gradient(to bottom right, rgb(227, 62, 62), black); */
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.hero {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5em;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: rgba(128, 116, 116, 0.717);
    border: 1px solidrgba(255, 255, 255, 0.196);
    backdrop-filter: blur(20px);
    padding: 5px;
    border-radius: 2em;
    overflow: hidden;
}

.button-box {
    /* width: 0px; */
    text-align: center;
    margin: 35px auto;
    position: relative;
    /* background-color: rgba(255, 255, 255, 0.209);
    box-shadow: 0 0 25px 5px #0000003b; */
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    /* cursor: pointer; */
    background: transparent;
    /* border-radius: 20px; */
    border: 0;
    outline: none;
    position: relative;
    color: #fff;
    font-weight: 700;
    /* transition: 0.3s ease;    */
}

/* .toggle-btn:hover {
    transform: scale(1.1);
} */

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: white;
    border-radius: 30px;
    transition: 0.5s;
}

/* .social-icons {
    margin: 30px auto;
    text-align: center;
} */

.social-icons i {
    font-size: 30px;
    color: white;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    transition: 0.2s ease;
}

.social-icons i:hover {
    transform: scale(1.2);
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s ease;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}

.submit-btn {
    width : 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: black;
    background: white;
    border: 0;
    outline: none;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.submit-btn:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
    color: white;
}

#login {
    left: 450px;
}

#register {
    left: 50px;
}

input::placeholder {
    color : white;
}

.terms {
    color: white;
}
/* 
#choose {
    position: relative;
    display: inline-block;
}

#choose-student, #choose-admin {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
} */